@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.border {
	border: 3px solid #043175;
	border-radius: 0.3rem;
}

.border-1 {
	border: 1px solid black;
}

.error {
	padding: 1em;
	background: #d22525;
	width: 100%;
	border-radius: 0.3rem;
}

.success {
	padding: 1em;
	background: #25d253;
	width: 100%;
	border-radius: 0.3rem;
}

.p-1 {
	padding: 1rem;
}

.ml-1 {
	margin-left: 1rem;
}
.mt-1 {
	margin-top: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}

.mb-1 {
	margin-bottom: 1rem;
}
